html {
    height: 100%;
    background: black;
    overflow: hidden;
    color: white;
}



#question, #guess {
    font-family: 'Times New Roman', Times, serif;
    align-content: center;
    text-align: center;
    font-size: 35px;
}

#text, #answer {
    font-family: 'Courier New', Courier, monospace;
    align-content: center;
    text-align: center;
    font-size: 16.8px;
}

#answer {
    font-size: 25px;
}

#restart {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    font-size: 35px;
}

button {
    font-family: 'Times New Roman', Times, serif;
    align-content: center;
    text-align: center;
    font-size: 17px;
    cursor: pointer;
}
